{% extends "base.html" %}

{% block head %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}{{ ROOTDIR }}{{ THEME_STATIC_DIR }}/css/projects-style.css"/>
{% endblock head %}

{% block content %}

  <h2>Links to miscellaneous side projects:</h2>

  <div class="project">
    <a href="http://kevinsprong23.github.io/dwelp-solver/" target="_blank">
      <div class="projicon">
        <div class="projtitle">Dwelp solver</div>
        <img src="{{ SITEURL }}{{ ROOTDIR }}images/posts/dwelp/thumbnail.png" width="200" height="200"/>
      </div>
      <div class="projinfo">
        Browser-based solver for the mobile game Dwelp. 
        Game logic as a javascript module, driver scripts using d3.
      </div>
    </a>
  </div>

  <div class="project">
    <a href="http://kevinsprong.com/posts/2014/11/20/buda-social-graph/" target="_blank">
      <div class="projicon">
        <div class="projtitle">BUDA graph</div>
        <img src="{{ SITEURL }}{{ ROOTDIR }}images/projects/buda-graph/indexpic.png" width="200" height="200"/>
      </div>
      <div class="projinfo">
        Graph analysis using BUDA rosters dating back to 1999. 
        Featured Python's requests + multiprocessing, and an Angular.js-based search capability.
      </div>
    </a>
  </div>

  <div class="project">
    <a href="{{ SITEURL }}{{ ROOTDIR }}projects/ncaainnfl" target="_blank">
      <div class="projicon">
        <div class="projtitle">NFL by School</div>
        <img src="{{ SITEURL }}{{ ROOTDIR }}images/posts/ncaa-alumni-in-nfl/indexpic.png" width="200" height="200"/>
      </div>
      <div class="projinfo">
          Makeup of NFL by school attended over time for the top 20 schools by NFL representation since 1990.
      </div>
    </a>
  </div>

  <div class="project">
    <a href="{{ SITEURL }}{{ ROOTDIR }}projects/statemetrics" target="_blank">
      <div class="projicon">
        <div class="projtitle">State Metrics</div>
        <img src="{{ SITEURL }}{{ ROOTDIR }}images/projects/statemetrics/thumbnail.png" width="200" height="200"/>
      </div>
      <div class="projinfo">
          2013 Federal spending and tax revenues by state, plotted against population and Obama's 2012 
          victory margin.  Interactivity and mouseovers via d3-tip and d3.js.
      </div>
    </a>
  </div>

  <div class="project">
    <a href="https://github.com/kevinsprong23/ksdotcom" target="_blank">
      <div class="projicon">
        <div class="projtitle">This website</div>
        <img src="{{ SITEURL }}{{ ROOTDIR }}images/projects/ksdotcom/indexpic.jpg" width="200" height="200"/>
      </div>
      <div class="projinfo">
        My website's Pelican templates
      </div>
    </a>
  </div>
{% endblock content %}



